# General
__pycache__/
*.ipynb_checkpoints/
.DS_Store

# Outputs and generated artifacts


# Ignore generated or binary files
*.png
*.parquet
*.pdf
*.zip

# Data
# Ignore everything in data/ except CSVs and .gitkeep
data/*
!data/*.csv
!data/.gitkeep
